beautifulsoup4==4.12.3
cffi==1.17.0
charset-normalizer==3.3.2
cryptography==43.0.0
numpy==2.0.1
opencv-python-headless==4.10.0.84
packaging==24.1
pandas==2.2.2
pdfminer.six==20240706
pillow==10.4.0
plum-dispatch==1.7.4
pycparser==2.22
python-dateutil==2.9.0.post0
pytz==2024.1
regex==2024.7.24
six==1.16.0
soupsieve==2.6
Spire.Doc==12.7.1
tzdata==2024.1
